<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye from rottenmangoes.com, <%= @user.firstname %></h1>
    <p>
      You have been deleted from the site, cya!<br>
    </p>
    <p>
      ps there's nothing stopping you from signing up a million more times
    </p>
  </body>
</html>