

<div class="movie-holder left col-md-6 col-sm-12">
</div>

<div class="movie-holder right col-md-6 col-sm-12">
  <img src="/thumb_movie-poster-template.jpg" class="img-responsive"/>
  <h2><a href="<%= new_movie_path %>">Submit a Movie!</a></h2>
  <h3>Month Year</h3>
  <h4>Dir. Blargh</h4>
  <p>hi i am a movie description! todo: match this to movie display partial later!</p>
</div>