<div class="movie-holder-outer right col-md-6 col-sm-12">
  <div class="movie-holder-inner right">
    <div class="row">
      <div class="col-md-7 sm-7 xs-12 info-holder">
        <h2><%= link_to "Submit a Movie!", new_movie_path %></h2>
        <h3>Month Year</h3>
        <h4>Dir. Blargh</h4>
        <p>hi i am a movie description! todo: match this to movie display partial later!</p>
      </div>

      <div class="col-md-5 sm-5 xs-12 image-holder">
        <%= link_to image_tag("/movie-poster-template.jpg"), new_movie_path %>
      </div>
    </div>
  </div>
</div>