
<main class="container">
  <h1><%= link_to "Submit a movie!", new_movie_path %></h1>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="movie-holder col-md-6 col-sm-12">
        <%= render partial: "movie_display", locals: {movie: movie} %>
      </div>
    <% end %>
  </div>
</main>