
<main class="container">

  <% @movies.each_slice(2) do |movie_pair| %>
    <div class="row">
      <%= render partial: "movie_display", locals: {movie_pair: movie_pair} %>
    </div>
  <% end %>
  <div class="row">
    <%= render partial: "new_movie_display" %>
  </div>

</main>




