/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";



/*MOVIE INDEX PAGE */
/* set text align for two alignments of movie display*/
.movie-holder.left{
  text-align: left;
}
.movie-holder.right{
  text-align: right;
}
/* this makes the image expand to take up the space in the column holding it */
.image-holder img{
  width:100%;
}
.movie-holder-outer {
  margin-bottom:30px;
}
.movie-holder-inner.left {
  float:right;
}
.movie-holder-inner.right {
  float:left;
}
@media (min-width: 768px) {
  .movie-holder-inner {
      width: 700px;
  }
}
@media (min-width: 992px) {
  .movie-holder-inner {
      width: 485px;
  }
}
@media (min-width: 1200px) {
  .movie-holder-inner {
      width: 585px;
  }
}


/*END MOVIE INDEX PAGE*/




/* NAVBAR */
.navbar-nav.nav li:hover {
  /*TODO*/
  background-color:grey;
}

.navbar .duration-search {
  max-width: 100px;
}
/* END NAVBAR */